.body {
     font-family: 'Poppins', sans-serif;
 }

 .montserrat {
     font-family: 'Montserrat', sans-serif;
 }

 .hero-bg {
     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://source.unsplash.com/1600x900/?pizza-oven');
     background-size: cover;
     background-position: center;
     background-attachment: scroll; /* Cambiado de fixed a scroll */
 }